.idea/workspace.xml
**/workspace.xml
/CMakeCache.txt
/cmake_install.cmake

#not sure which format works
build/
/build/
CMakeFiles/
/CMakeFiles/

# C++ ignores
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

